#root {
  max-inline-size: auto;
   margin: 10px; */
   padding: 2px; */
   /* text-align: center;  */
}

.logo {
  width:4rem;
  height:4rem;
  will-change: filter;
  transition: filter 50ms;
  padding:10px 0px;
}
.logo:hover {
  filter: drop-shadow(0 0 0.5em #cae5f7);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.search-engine{
  display:flex;
  flex:center;
  justify-content:center;
  align-items:center;
  margin-block-end:30px;
  margin-block-start:5px;
}

.search-engine input{
  display:flex;
  flex:center;
  justify-content:space-around;
  align-items:center;
  padding: 18px;
  font-size:20px;
  font-weight:500;
  margin-inline-start: 20px auto;
  inline-size:30vw;
  border:none;
  border-radius:10px;
  background-color:#cae5f7;
  color:#112733;
  margin-right: 10px;

}
.header{
  gap:7px;
}

.footer{
  margin-block-start:100px;
  display:flex;
  flex:center;

} 
.weather-card{
  display:flex;
  flex:center;
  justify-content:center;
  align-items:center;
  flex-direction:column;
} 

.loader{
  mx:auto;
  width:4rem;
  height:4rem;
}